<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<APPLICATION APP_FILE_PATH_RULES="[PHONE_MAC_ADDRESS].cfg"
             CONFIG_FILES="site.cfg"
             MISC_FILES=""
             LOG_FILE_DIRECTORY=""
             OVERRIDES_DIRECTORY=""
             CONTACTS_DIRECTORY=""
             LICENSE_DIRECTORY=""/>
